@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* variables */
    --dustedBlue: rgba(97, 119, 140, 255);
    --dustedBeige: rgba(137, 124, 116, 1);
    --lightBlue: rgba(107, 122, 139, 1);
    --lightGrey: #cecece;
    --darkGrey: #a4a4a4;
    --lightCyan: #a0ffed;
    --darkCyan: #00ffcc;
}

@font-face {
    font-family: 'Animals';
    src: url('../../Presentation-Site-PenguTrip/fonts/Animals.woff2') format('woff2'),
    url('../../Presentation-Site-PenguTrip/fonts/Animals.woff') format('woff');
}

@font-face {
    font-family: 'TimeBurner';
    src: url('../../Presentation-Site-PenguTrip/fonts/TimeBurner.woff2') format('woff2'),
    url('../../Presentation-Site-PenguTrip/fonts/TimeBurner.woff') format('woff');
}

body {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(150deg, var(--dustedBlue), var(--dustedBlue), var(--dustedBeige)) no-repeat center;
    background-size: cover;
    overflow-x: hidden;
}

.presentation {
    display: flex;
    flex-flow: row;
    height: 100vh;
    width: 100vw;
}

.navbarVertical {
    width: 6em;
    height: 100%;
    border-right: solid 3px var(--lightBlue);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 20px;
}

.navbarVertical a {
    font-family: 'Animals', serif;
    font-size: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.navbarVertical h2 {
    font-family: 'TimeBurner', serif;
    font-size: 35px;
    color: white;
    text-align: center;
    user-select: none;
}

.penguTripLogo {
    height: 70%;
    width: 70%;

    background-image: url("../images/prezentare8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -45%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    position: absolute;
    top: 55%;
    left: 60%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.buttons small {
    font-size: 18px;
    color: white;
    font-family: 'Gruppo', cursive;
}

.buttons button {
    width: 12em;
    height: 4em;
    border-radius: 30em;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Gruppo', cursive;
    font-weight: 800;
    transition: 0.5s;
}

.buttons button:hover {
    background-color: var(--lightGrey);
}

.buttons button:active {
    background-color: var(--darkGrey);
}

.buttons canvas {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    height: 100%;
    width: 100%;
    position: relative;
}

.info {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
}

.info img {
    width: 500px;
    margin-left: -10px;
    user-select: none;
    pointer-events: none;
}

.description {
    width: 350px;
}

.info h2 {
    font-family: 'Gruppo', cursive;
    font-size: 30px;
}

.info p {
    font-family: 'Gruppo', cursive;
    font-size: 22px;
}

.github {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 50px;
}

.github a {
    text-decoration: none;
    color: white;
}

.buttons canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.penguWithMap, .availableForSmallWindows {
    display: none;
}

.language {
    position: absolute;
    bottom: 10px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: 'Gruppo', cursive;
    font-size: 22px;
}

.language small {
    cursor: pointer;
    color: white;
}

small.en {
    color: var(--lightCyan);
}

.content-romanian {
    display: none;
}

@media screen and (max-width:  1352px) {
    .presentation, .info, .description {
        all: unset;
    }

    .presentation {
        padding: 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .penguTripLogo {
        display: none;
    }

    .content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        color: white;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .info img {
        margin: unset;
        width: 70%;
    }

    .info h2 {
        font-size: 55px;
    }

    .description {
        padding: 50px;
        width: 90%;
    }

    .description p {
        font-size: 60px;
    }

    .penguWithMap {
        display: block;
        width: 100%;
    }

    .github {
        font-size: 100px;
        right: 0;
        bottom: 0;
    }

    .availableForSmallWindows {
        display: block;
        color: white;
        font-family: 'Gruppo', cursive;
        font-size: 30px;
    }

    .navbarVertical {
        flex-flow: row;
        align-items: center;
        width: 100%;
        padding: 0 40px;
        border-right: none;
    }

    .navbarVertical a {
        font-size: 190px;
    }

    .navbarVertical h2 {
        font-size: 60px;
    }

    .language {
        position: fixed;
        font-size: 45px;
    }
}